[mysqld_multi]
mysqld     = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin
log        = /var/log/mysqld_multi.log

{% for port in ports %}
[mysqld{{ port }}]
socket = /var/lib/mysql{{ port }}/mysql.sock
port = {{ port }}
datadir = /var/lib/mysql{{ port }}
log-error = /var/log/mysql{{ port }}.log
user = mysql
{% endfor %}
